html, body {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: lighter;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  position: absolute;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  left: 50%;
  top: 40%;
  width: 60vw;
  height: 80vh;
  background-color: #;
}

header {
  position: relative;
  margin: 2em auto 0.5em auto;
  text-align: center;
  font-size: 3em;
}

.answer {
  height: 2.5em;
  width: auto;
  margin: 0 auto 1em auto;
  text-align: center;
}

form {
  position: relative;
  text-align: center;
}

input.input-field {
  margin-bottom: 1em;
  outline: none;
  border-style: none;
  width: 150px;
  height: auto;
  font-size: 2em;
  text-align: center;
  color: #049372;
}

button {
  position: relative;
  margin: 1em 0;
  padding: 0.5em 1em;
  font-size: 1em;
  border-style: none;
  outline: none;
  background-color: #19b698;
  color: #fff;
}

button:hover {
  background-color: #049372;
  cursor: pointer;
}

.counter {
  position: relative;
  margin: 2em auto 0 auto;
  text-align: center;
}

.restart {
  text-align: center;
  margin: 2em auto;
  color: #2ecc71;
  display: none;
}

.restart:hover {
  cursor: pointer;
  color: #19b698;
}

.hint, .number{
  position: relative;
  margin: 2em auto;
  color: #7f8c8d;
}

.hint:hover {
  color: #c0392b;
}

.answer {
  color: #1BA39C;
  font-weight: bolder;
}

.error {
  color: tomato;
}

@media screen and (max-width: 775px) {
  .hint, .number {
    text-align: center;
  }
}