* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  position: absolute;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  width: 60vw;
  height: 80vh;
  background-color: #dbdbdb;
}

header {
  position: relative;
  margin: 2em auto 0.5em auto;
  text-align: center;
  font-size: 3em;
}

.answer {
  height: 2.5em;
  width: auto;
  margin: 0 auto 1em auto;
  text-align: center;
}

form {
  position: relative;
  text-align: center;
}

input.input-field {
  outline: none;
  border-style: none;
  width: 60px;
  height: auto;
  font-size: 2em;
  text-align: center;
  color: #7f8c8d;
}

button {
  position: relative;
  margin: 1em 0;
  font-size: 1em;
}

.counter {
  position: relative;
  margin: 2em auto 0 auto;
  text-align: center;
}

.hint, .number {
  position: fixed;
  bottom: 0;
  margin: 0 0 1em 1em;
  color: #7f8c8d;
}

.hint:hover {
  color: #c0392b;
}